<div class="col-12" style="margin-top: 100px;">
    <h4 class="modal-title" style="text-align: center">View Event Details</h4>
    <form>
      <div class="form-group">
        <label for="A">Event title:</label>
        <input name="title" [ngModel]="event.title" type="text" allow-pattern="\d" class="form-control" id="A" disabled>
      </div>
      <div class="form-group">
        <label for="B">Description:</label>
        <textarea name="description" [ngModel]="event.description" type="text" allow-pattern="\d" class="form-control" disabled
          id="B"></textarea>
      </div>
    </form>
  </div>
  